@include component(box) {
	
	@include option(program-box) {
		
		@include component(link-btn) {
			text-decoration: underline;
			color: $theme-primary;
			display: block;
		}

		@media (max-width: 991px) {
			@include rem-spacing (margin-bottom, 30);
		}
	}

	@include option(education-boxes) {
		
		@media (max-width: 767px) {
			@include rem-spacing (margin-bottom, 40);
		}
	}
}

@include component(facilities-box) {
	background-image: url('/assets-web/images/bg-abstract.png');
	background-position: top right;
	background-size: 35%;
	background-repeat: no-repeat;

	&.left-bg {
		background-position: top left;
	}

	@media (max-width: 767px) {
		background-image: none;
	}
}