@include component(btn) {
	@include rem-spacing(padding, 8, 20);
	display: inline-block;
	@include transition(0.4s);
	border: none;
	letter-spacing: 1px;
	cursor: pointer;
	

	@include option(btn-primary) {
		background: $theme-primary;
		color: white;
	}

	@include option(btn-secondary) {
		background: $theme-secondary;
		color: white;
	}

	@include option(btn-white) {
		background: transparent;
		color: white;
		border-color: white;
	}
	@include option(btn-small) {
		@include rem-spacing(padding, 6, 10);
		@include fontSize($font-size-small);
	}

	&:hover{
		@include opacity(0.8);
	}
}