@include component(sec-padding) {
	@include rem-spacing(padding, 60, 0);
	
	@media (max-width: 991px){
		@include rem-spacing(padding, 30, 0);
	}

	@include option(small) {
		@include rem-spacing(padding, 40, 0);
	}

	@include option(xsmall) {
		@include rem-spacing(padding, 30, 0);
	}
}

@include component(maintitle) {
	@include fontSize($font-size-h1);
	line-height: 1.2;

	@media (max-width: 1200px){
		@include fontSize($font-size-h1 - 20px);
	}

	@media (max-width: 991px){
		@include fontSize($font-size-h1 - 30px);
	}

	@media (max-width: 575px){
		@include fontSize($font-size-h1 - 40px);
	}

	@include option(medium) {
		@include fontSize($font-size-h1 - 20px);

		@media (max-width: 991px){
			@include fontSize($font-size-h1 - 30px);
		}

		@media (max-width: 575px){
			@include fontSize($font-size-h1 - 40px);
		}
	}

	@include option(small) {
		@include fontSize($font-size-h1 - 30px);

		@media (max-width: 575px){
			@include fontSize($font-size-h1 - 40px);
		}
	}
}

@include component(maindesc) {
	@include fontSize($font-size-large);

	@media (max-width: 991px){
		@include fontSize($font-size-medium);
	}
}

@include component(college-courses) {
	
	@include component(title) {
		border-bottom: 2px solid $theme-white;
		@include rem-spacing (margin-bottom, 10);
	}

	@include component(maindesc) {
		@include rem-spacing (margin-bottom, 40);
	}
}

@include component(contact-form-section) {
	@include rem-spacing (padding-right, 60);
	
	@include component(title) {
		color: $theme-secondary;
		text-transform: uppercase;
		font-size: $font-size-h2;
		line-height: 1.2;
	}

	@include component(subtitle) {
		font-size: $font-size-h6;
		font-weight: $font-weight-semi-bold;
		@include rem-spacing (padding-bottom, 20);
		@include rem-spacing (margin-bottom, 20);
		border-bottom: 2px solid $theme-secondary;
	}
}