/**** Form Styling Default ****/
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background: transparent !important; }
input::-webkit-input-placeholder {
	color: $theme-grey; }
input:-moz-placeholder {
	color: $theme-grey; }
input::-moz-placeholder {
	color: $theme-grey; }
input:-ms-input-placeholder {
	color: $theme-grey; }
textarea::-webkit-input-placeholder {
	color: $theme-grey; }

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance:textfield;
}


@include component(default-form) {

	@include component(control-group) {
		@include rem-spacing(margin-bottom, 24);
		position: relative;

		input {
			&[type=text], &[type=number], &[type=email], &[type=password], &[type=date] {
				color: $theme-grey;
				@include rem-spacing(padding, 10);
				@include size(100%, 44px);
				border: 1px solid $theme-sp-grey;
				box-shadow: none;
				-webkit-appearance: none;
				border-radius: 0;
				position: relative;
				@extend .ff-primary;
				z-index: 4;
			}
		}
	
		select, textarea {
			color: $theme-grey;
			@include rem-spacing(padding, 10);
			@include size(100%, 44px);
			border: 1px solid $theme-sp-grey;
			box-shadow: none;
			line-height: 38px;
			border-radius: 0;
			@extend .ff-primary;
			position: relative;
			z-index: 4;
		}

		textarea {
			resize: none;
			min-height: 180px;
		}

		input[type="submit"]{
			-webkit-appearance: none;
		}

		@include component(codearea) {
			float: left;
			width: 28%;
			position: relative;
		}

		@include component(numberarea) {
			float: right;
			width: 70%;
			position: relative;
			input{
				@include rem-spacing(padding-left, 10);
			}
		}

		@include component(checkbox) {
			position: relative;
			cursor: pointer;
			line-height: 20px;

			@include component(label) {
				position: relative;
				display: block;
				float: left;
				@include rem-spacing(margin, 0, 10, 10, 0);
				@include size(20px, 20px);
				border: 2px solid $theme-primary;
				-webkit-tap-highlight-color: transparent;

				&:after {
					content: '\2714';
					position: absolute;
					top: 0px;
					left: 2px;
					@include size(10px, 10px);
					color: $theme-primary;
					@include fontSize($font-size-medium);
					text-align: center;
					line-height: 1;
					@include transform(scale(0));
					@include transition(0.2s);
					@include opacity(0.08);
					pointer-events: none;
				}
			}

			input[type=checkbox]{

				&:checked {
					& + .label{
						border-color: $theme-primary;

						&:after{
							@include transform(scale(1));
							@include transition(all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9));
							@include opacity(1);
						}
					}
				}
			}

			@include component(text) {
				font-weight: $font-weight-bold;
			}
		}

		@include component(radiobox) {
			position: relative;
			cursor: pointer;
			line-height: 20px;

			@include component(label) {
				position: relative;
				display: block;
				float: left;
				margin-right: 10px;
				@include size(20px, 20px);
				border: 2px solid $theme-primary;
				border-radius: 100%;
				-webkit-tap-highlight-color: transparent;

				&:after {
					content: '';
					position: absolute;
					top: 3px;
					left: 3px;
					@include size(10px, 10px);
					border-radius: 100%;
					background: $theme-primary;
					@include transform(scale(0));
					@include transition(0.2s);
					@include opacity(0.08);
					pointer-events: none;
				}
			}

			input[type=radio]{

				&:checked {
					& + .label{
						border-color: $theme-primary;

						&:after{
							@include transform(scale(1));
							@include transition(all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9));
							@include opacity(1);
						}
					}
				}
			}

			@include component(text) {
				font-weight: $font-weight-bold;
			}
		}

		@include component(addFileStyle) {

			@include component(upldwrap) {
				position: relative;

				input[type=file] {
					position: absolute;
					left: 0;
					top: 0;
					@include size(100%, 100%);
					z-index: 10;
					cursor: pointer;
				}

				input[type=text] {
					width: 60%;
					height: auto;
					@include rem-spacing(padding, 8, 30);
				}
			}
		}


		@include component(form-label) {
			display: block;
			@include rem-spacing(margin-bottom, 4);
			@include fontSize($font-size-medium);
			@include transition(0.4s);
			@extend .ff-secondary;
			font-weight: $font-weight-bold;
		}
	}

	@include option(animate-form) {
		
		@include component(control-group) {

			input {
				&[type=text], &[type=number], &[type=email], &[type=password], &[type=date] {
					background-color: transparent;
					border: none;
					border-bottom: 1px solid $theme-sp-grey;
					@include rem-spacing(padding, 10, 0);
				}
			}

			select, textarea{
				background-color: transparent;
				border: none;
				border-bottom: 1px solid $theme-sp-grey;
				@include rem-spacing(padding, 10, 0);
			}

			@include component(form-label) {
				position: absolute;
				left: 0px;
				top: 12px;
			}

			@include component(bar) {
			    position: relative;
			    display: block;

			    &:before, &:after{
		    	    content: '';
		    	    @include size(0px, 2px);
				    bottom: 1px;
				    position: absolute;
				    background: $theme-black;
				    @include transition(0.2s ease all);
			    }

			    &:before{
			    	left: 50%;
			    }

			    &:after{
			    	right: 50%;
			    }
			}

			@include component(form-field) {
				@include transition(0.4s);
				&:focus{
					border: none;
					& ~ .bar:before, & ~ .bar:after{
						width: 50%;
					}
				}
			}

			&.focused {
				@include component(form-label) {
					top: -6px;
					@include fontSize($font-size-small);
					color: $theme-black;
				}
				@include component(bar) {
					&:before, &:after{
						width: 50%;
					}
				}
			}
		}
	}

	@include option(contact-form) {

		@include component(form-heading) {
			color: $theme-secondary;
			font-size: $font-size-h4;
			font-weight: $font-weight-semi-bold;
		}
		
		@include component(control-group) {
			@include rem-spacing (margin-bottom, 10);
		}
	}
}