@include component(primary-header) {
	@include rem-spacing (padding, 10, 0);
	background-color: $theme-white;

	@include component(logo) {
		display: block;
		max-width: 280px;
	}

	@include component(header-navigation) {
		text-align: right;

		li {
			@include rem-spacing (margin-right, 16);
			position: relative;

			a {
				color: $theme-primary;
				font-weight: $font-weight-semi-bold;
			}

			@include component(dropdown) {
				position: absolute;
				top: 26px;
				left: 0;
				text-align: left;
				background-color: $theme-secondary;
				@include rem-spacing (padding, 10, 16, 0);
				display: none;

				li {

					a {
						color: $theme-white;
						white-space: nowrap;
						@include rem-spacing (padding-bottom, 10);
						display: block;

						&:hover {
							color: $theme-primary;
						}
					}
				}
			}

			&:hover {
				@include component(dropdown) {
					display: block;
				}
			}
		}
	}
}