@include component(check-list) {
	margin-bottom: 30px;
	
	li{
		position: relative;
		padding-left: 24px;
		margin-bottom: 16px;

		&:before{
			content: '\2714';
			position: absolute;
			left: 0;
			top: 0;
			color: $theme-primary;
			font-weight: $font-weight-bold;
			@include fontSize($font-size-medium);
		}
	}
}

@include component(bullet-list) {
	
	li{
		position: relative;
		@include rem-spacing(padding-left, 14);

		&:before{
			content: "\2022";
			color: $theme-primary;
			position: absolute;
			left: 0;
			@include fontSize($font-size-large);
			top: 0;
			line-height: 1;
		}
	}
}