@include component(mobile-nav-btn) {
    display: inline-block;
    width: 30px;
    height: 25px;
    z-index: 1000;
    color: $theme-white;
    @include transform(rotate(0deg));
    @include transition(.5s ease-in-out);
    cursor: pointer;
    float: right;

    @include component(lines) {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $theme-white;
        border-radius: 3px;
        opacity: 1;
        left: 0;
        @include transform(rotate(0deg));
        @include transition(.25s ease-in-out);

        &:nth-child(1){
            top: 1px;
            width: 80%;
        }

        &:nth-child(2), &:nth-child(3){
            top: 11px;
        }

        &:nth-child(4){
            top: 21px;
            width: 60%;
        }
    }

    &:hover{
        @include component(lines) {
            &:nth-child(1){
                width: 50%;
            }
            &:nth-child(4){
                width: 80%;
            }
        }
    }

    &.nav-active{
        @include component(lines) {
            &:nth-child(1), &:nth-child(4){
                top: 10px;
                width: 0%;
                left: 50%;
            }
            &:nth-child(2){
                @include transform(rotate(45deg));
            }
            &:nth-child(3){
                @include transform(rotate(-45deg));
            }
        }
    }

    .sticky &{
        margin-top: 12px;
    }

    &.mobile-btn{
        @include component(lines) {
            background: $theme-white;
        }
    }
}


@include component(mobile-nav) {
    position: fixed;
    @include size(50%, 100%);
    top: 0;
    right: -50%;
    z-index: 999;
    background: $theme-black;
    @include transition(0.6s);

    @include component(mobile-navigation) {
        display: block;
        white-space: nowrap;
        position: relative;
        overflow: hidden;

        @include component(close-btn) {
            @include rem-spacing(margin, 20);
            float: right;

            @include component(xicon) {
                position: relative;
                top: 2px;
            }
        }

        @include component(main-nav) {
            @include rem-spacing(padding, 60, 20);
        }

        li{
            a{
                display: block;
                @include rem-spacing(padding, 10);
                text-transform: uppercase;
                @include transition(0.2s);

                &:hover{
                    background-color: $theme-secondary;
                    color: $theme-white;
                }
            }
        }
    }

    &.nav-active{
        right: 0%;
    }

    @include component(dropdown-menu) {
        @include rem-spacing(margin-left, 30);

        li{
            a{
                @include fontSize($font-size-small);
                @include rem-spacing(padding, 6, 0);
                white-space: initial;
            }
        }
    }
}