@include component(primary-navigation) {
	li{
		@include rem-spacing(margin, 0, 20px);
		position: relative;

		> a{
			color: $theme-white;
			text-transform: uppercase;
			@include fontSize($font-size-medium);
			font-weight: $font-weight-semi-bold;

			&:hover{
				color: $theme-primary;
			}
		}

		@include component(dropdown-menu) {
			position: absolute;
			right: 0;
			top: 22px;
			background-color: $theme-primary;
			@include rem-spacing(padding, 10);
			z-index: 9;
			display: none;

			li{
				text-align: left;
				@include rem-spacing(margin, 0);

				a{
					@include fontSize($font-size-small);
					white-space: nowrap;

					&:hover{
						color: $theme-secondary
					}
				}
			}
		}

		&:hover{
			@include component(dropdown-menu) {
				display: block;
			}
		}

		@media (max-width: 1200px) {
			@include rem-spacing(margin, 0, 10px);
		}

		@media (max-width: 991px) {
			@include rem-spacing(margin, 0, 2px);

			a{
				@include fontSize($base-font-size);
			}
		}
	}

	li{
		&:last-child{
			@include rem-spacing(margin-right, 0);
		}
		&:first-child{
			@include rem-spacing(margin-left, 0);
		}
	}

	.arabic &{
		li{
			@include rem-spacing(margin, 0, 20px);
			
			&:last-child{
				@include rem-spacing(margin-left, 0);
			}
			&:first-child{
				@include rem-spacing(margin-right, 0);
			}
		}
	}
}