$i: 100;
@while ($i > 0) {
	.ml-#{$i}{
		margin-left: 1% * $i !important;
	}
	$i: $i - 1;
}

@media (min-width: 576px) {
	$i: 100;
	@while ($i > 0) {
		.ml-sm-#{$i}{
			margin-left: 1% * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 768px) {
    $i: 100;
	@while ($i > 0) {
		.ml-md-#{$i}{
			margin-left: 1% * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 992px) {
    $i: 100;
	@while ($i > 0) {
		.ml-lg-#{$i}{
			margin-left: 1% * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 1200px) {
    $i: 100;
	@while ($i > 0) {
		.ml-xl-#{$i}{
			margin-left: 1% * $i;
		}
		$i: $i - 1;
	}
}

$i: 100;
@while ($i > 0) {
	.mr-#{$i}{
		margin-right: 1% * $i !important
	}
	$i: $i - 1;
}

@media (min-width: 576px) {
	$i: 100;
	@while ($i > 0) {
		.mr-sm-#{$i}{
			margin-right: 1% * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 768px) {
    $i: 100;
	@while ($i > 0) {
		.mr-md-#{$i}{
			margin-right: 1% * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 992px) {
    $i: 100;
	@while ($i > 0) {
		.mr-lg-#{$i}{
			margin-right: 1% * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 1200px) {
    $i: 100;
	@while ($i > 0) {
		.mr-xl-#{$i}{
			margin-right: 1% * $i;
		}
		$i: $i - 1;
	}
}

$i: 100;
@while ($i > 0) {
	.pr-#{$i}{
		padding-right: 1% * $i !important
	}
	$i: $i - 1;
}

@media (min-width: 576px) {
	$i: 100;
	@while ($i > 0) {
		.pr-sm-#{$i}{
			padding-right: 1% * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 768px) {
    $i: 100;
	@while ($i > 0) {
		.pr-md-#{$i}{
			padding-right: 1% * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 992px) {
    $i: 100;
	@while ($i > 0) {
		.pr-lg-#{$i}{
			padding-right: 1% * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 1200px) {
    $i: 100;
	@while ($i > 0) {
		.pr-xl-#{$i}{
			padding-right: 1% * $i;
		}
		$i: $i - 1;
	}
}

$i: 100;
@while ($i > 0) {
	.pl-#{$i}{
		padding-left: 1% * $i !important
	}
	$i: $i - 1;
}

@media (min-width: 576px) {
	$i: 100;
	@while ($i > 0) {
		.pl-sm-#{$i}{
			padding-left: 1% * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 768px) {
    $i: 100;
	@while ($i > 0) {
		.pl-md-#{$i}{
			padding-left: 1% * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 992px) {
    $i: 100;
	@while ($i > 0) {
		.pl-lg-#{$i}{
			padding-left: 1% * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 1200px) {
    $i: 100;
	@while ($i > 0) {
		.pl-xl-#{$i}{
			padding-left: 1% * $i;
		}
		$i: $i - 1;
	}
}

$i: 100;
@while ($i >= 0) {
	.mb-#{$i} {
		margin-bottom: 1% * $i;
	}
	$i: $i - 1;
}

$i: 100;
@while ($i >= 0) {
	.mt-#{$i} {
		margin-top: 1% * $i;
	}
	$i: $i - 1;
}

$i: 100;
@while ($i >= 0) {
	.mbpx-#{$i} {
		margin-bottom: 1px * $i;
	}
	$i: $i - 1;
}

$i: 100;
@while ($i >= 0) {
	.mtpx-#{$i} {
		margin-top: 1px * $i;
	}
	$i: $i - 1;
}

$i: 100;
@while ($i >= 0) {
	.pbpx-#{$i} {
		padding-bottom: 1px * $i;
	}
	$i: $i - 1;
}

$i: 100;
@while ($i >= 0) {
	.ptpx-#{$i} {
		padding-top: 1px * $i;
	}
	$i: $i - 1;
}

$i: 100;
@while ($i >= 0) {
	.h-#{$i} {
		height: 1px * $i;
	}
	$i: $i - 1;
}

$i: 100;
@while ($i >= 0) {
	.wpx-#{$i} {
		width: 1px * $i;
	}
	$i: $i - 1;
}

$i: 100;
@while ($i > 0) {
	.w-#{$i}{
		width: 1% * $i;
	}
	$i: $i - 1;
}

@media (min-width: 576px) {
	$i: 100;
	@while ($i > 0) {
		.w-sm-#{$i}{
			width: 1% * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 768px) {
    $i: 100;
	@while ($i > 0) {
		.w-md-#{$i}{
			width: 1% * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 992px) {
    $i: 100;
	@while ($i > 0) {
		.w-lg-#{$i}{
			width: 1% * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 1200px) {
    $i: 100;
	@while ($i > 0) {
		.w-xl-#{$i}{
			width: 1% * $i;
		}
		$i: $i - 1;
	}
}