@include component(partner-slider) {
	@include rem-spacing(padding, 0, 40);
	@include rem-spacing (margin-top, 40);
	display: flex;
	align-items: center;

	@include component(item) {
		@include rem-spacing (margin, 0, 10);
		align-items: center;
		
		img{
			margin: 0 auto;
		}
	}

	@include component(slick-next) {
		right: 0;
		width: auto;
		height: auto;

		&:before{
			content: $icon-arrow_right;
			font-family: '#{$icomoon-font-family}';
			@include fontSize($font-size-h2);
			color: black;
		}
	}

	@include component(slick-prev) {
		left: 0;
		width: auto;
		height: auto;

		&:before{
			content: $icon-arrow_left;
			font-family: '#{$icomoon-font-family}';
			@include fontSize($font-size-h2);
			color: black;
		}
	}
}