@include component(Rtable) {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 3em 0;
	padding: 0;

	@include component(Rtable-cell) {
		box-sizing: border-box;
		flex-grow: 1;
		width: 100%;  // Default to full width
		padding: 0.8em 1.2em;
		overflow: hidden; // Or flex might break
		list-style: none;
		border: 1px solid $theme-grey;

		@include option(head) {
			background-color: $theme-primary;
			color: $theme-white;
			font-weight: $font-weight-bold;
			text-align: left;
			border-color: $theme-primary;
		}

		@include component(head) {
			color: $theme-primary;
			font-weight: $font-weight-bold;
			margin-right: 10px;
			display: none;
			line-height: 2;

			@media (max-width: 991px){
				display: inline-block;
				width: 40%;
				float: left;
			}
		}

		@include component(body) {
			line-height: 2;
			@media (max-width: 991px){
				float: left;
				width: 54%;
			}
		}
	}

	@media (max-width: 991px){
		@include option(collapse) {
			display: block;

			@include component(Rtable-cell) {
				width: 100% !important;

				@include option(foot) {
					margin-bottom: 20px;
				}
			}
		}
	}

	/* Table column sizing
	================================== */
	@include option(2cols) {

		@include component(Rtable-cell) {
			width: 50%;
		}
	}

	@include option(3cols) {

		@include component(Rtable-cell) {
			width: 33.33%;
		}
	}

	@include option(4cols) {

		@include component(Rtable-cell) {
			width: 25%;
		}
	}

	@include option(5cols) {

		@include component(Rtable-cell) {
			width: 20%;
		}
	}

	@include option(6cols) {

		@include component(Rtable-cell) {
			width: 16.6%;
		}
	}

	@include option(7cols) {

		@include component(Rtable-cell) {
			width: 14.28%;
		}
	}
}