//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$base-font-family		:   'Open Sans', sans-serif !default;
$heading-font-family	:   'Oswald', sans-serif !default;

$base-line-height		: 	1.5;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.

$base-font-size			: 	16px !default;
$font-size-h1			: 	70px;
$font-size-h2			: 	40px;
$font-size-h3			: 	34px;
$font-size-h4			: 	28px;
$font-size-h5			: 	22px;
$font-size-h6			: 	20px;

$font-size-xsmall		: 	10px;
$font-size-small		: 	12px;
$font-size-medium		: 	16px;
$font-size-large		: 	18px;

$font-weight-xblack		: 	900;
$font-weight-black		: 	800;
$font-weight-bold		: 	700;
$font-weight-semi-bold	: 	600;
$font-weight-medium		: 	500;
$font-weight-normal		: 	400;
$font-weight-light		: 	300;
$font-weight-thin		: 	100;


//== Color Variation
//
//## Text color, Background color, Border color.

$theme-default	: 	#ffffff;
$theme-white	: 	#ffffff;
$theme-black	: 	#000000;
$theme-grey		: 	#666666;
$theme-lg-grey	: 	#c7d0d8;
$theme-sp-grey	: 	#e6e6e6;
$theme-dk-grey	: 	#333333;

// Theme Colors
$theme-primary 	: 	#3e2b64;
$theme-secondary: 	#00b5b2;

$link-color		: 	#53575a;
