::-moz-selection {
	background: $theme-white;
	color: $theme-primary;
	text-shadow: none;
}

::selection {
	background: $theme-white;
	color: $theme-primary;
	text-shadow: none;
}

::-webkit-scrollbar { @include size(6px, 10px); border-radius: 6px; }
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment { display:none; }
::-webkit-scrollbar-track-piece { background-color:#ecedf1; -webkit-border-radius:0px; border-left:1px solid #888; }
::-webkit-scrollbar-thumb:vertical { -webkit-border-radius:0px; background: $theme-primary; }

html{
	position: relative;
}

*, html, body{
	@include rem-spacing(padding, 0);
	@include rem-spacing(margin, 0);
	@include box-sizing;
	outline: none;
}

body {
	font-family: $base-font-family;
	@include fontSize($base-font-size);
	line-height: $base-line-height;
	color: $theme-default;
	background-color: white;
	// for safari
	-webkit-font-smoothing: antialiased;
}

@include component(overlay-bg) {
	background: rgba(0,0,0, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@include size(100%, 100%);
	z-index: 10;
	display: none;
}

@include component(app-container) {
	overflow: hidden;
    position: relative;
    min-height: 100vh;
}

// Links
a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		//color: $theme-white;
	}
}

img {
	max-width: 100%;
	display: block;

	&.inherit{
		max-width: inherit;
	}

	&.responsive{
		@include img-responsive;
	}
}

@include component(relative-block) {
	position: relative;
}

@include component(absolute-block) {
	position: absolute;
}

@include component(unstyled) {
	@include rem-spacing(padding, 0);
	@include rem-spacing(margin, 0);
	list-style: none;
}

@include component(inline) {
	li{
		display: inline-block;
	}
}

@include component(block) {
	li{
		display: block;
	}
}

@include component(table) {	
	display: table;
	li{
		display: table-cell;
	}
}

@include component(nomar) {
	li{
		&:last-child{
			@include rem-spacing(margin-right, 0);
		}
		&:first-child{
			@include rem-spacing(margin-left, 0);
		}
	}
}

hr{
	border: none;
}

@include component(clearfix) {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@include component(m-auto) {
	@include m-auto;
}

@include component(hidden) {
	display: none;
}

@include component(show) {
	display: block;
}

@include component(visiblity-hidden) {
	visibility: hidden;
}