@include component(facebook) {
	&:hover{
		color: #1a4bad !important;
	}
}

@include component(facebook-icon) {
	&:hover{
		background: #1a4bad !important;
	}
}

@include component(twitter) {
	&:hover{
		color: #00a9cd !important;
	}
}

@include component(twitter-icon) {
	&:hover{
		background: #00a9cd !important;
	}
}

@include component(linkedin) {
	&:hover{
		color: #1e8cbe !important;
	}
}

@include component(linkedin-icon) {
	&:hover{
		background: #1e8cbe !important;
	}
}

@include component(googleplus) {
	&:hover{
		color: #ff4800 !important;
	}
}

@include component(googleplus-icon) {
	&:hover{
		background: #ff4800 !important;
	}
}

@include component(instagram) {
	&:hover{
		color: #E4405F !important;
	}
}

@include component(instagram-icon) {
	&:hover{
		background: #E4405F !important;
	}
}

@include component(youtube) {
	&:hover{
		color: #d10000 !important;
	}
}

@include component(youtube-icon) {
	&:hover{
		background: #d10000 !important;
	}
}